/*  beeg screen */

@media screen and (max-width: 2000px) {
  #upBtn{
    opacity: 100%;
  }
  *:hover{
    pointer-events:all;
  }
  p {
    font-size: 1.15rem;
    line-height: 32px;
  }
  #bg{
    height: 100%;
    width:100%;
  }
  h7{
    margin-bottom: 10px;
  }
}
/* medium */
@media screen and (max-width: 1000px) {
  .content-to-hide {
    display: none;
  }
  #bg{
    height: 100%;
    width:max-content;
  }
}

/*  small screen */

@media screen and (max-width: 900px) {
  #bootstrap-overrides .container-lg{
    width: 100%;
  }
  #bootstrap-overrides .container {
    width: 100%;
  }
  .card{
    width: fit-content;
  }
  .container-lg * :hover{
    pointer-events: none !important;
  }
    #bootstrap-overrides .info2{
    width: 100%;
  }
  #bootstrap-overrides .info1{
    width: 30%;
  }    #bootstrap-overrides .info3{
    width: 30%;
  }
  #upBtn{
    opacity: 0%;
  }
  p{
    font-size: 1rem;
  }
  h7{
    margin-bottom: 0;
  }
}

/* removes hover effects */
.noHover {
  pointer-events: none;
}
/* class to align items center */
.align-items-center {
  display: flex;
  flex-direction: column;
  align-items: center; /*Aligns vertically center */
  justify-content: center; /*Aligns horizontally center */
}
/* darkmode toggle */
.checkbox-label {
  background-color: #171717;
  border: #fff 1px solid !important;
  width: 50px;
  height: 28px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.checkbox-label .ball {
  background-color: #fff;
  width: 22px;
  height: 22px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
}
.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(24px);
}
/* sets transition for all  */
*{
  transition: all 0.3s linear !important;
}
body {
  background-color: rgb(214, 214, 214);
  margin: 0;
  overflow-y: scroll;
}
.transition{
  transition: all 0.4s linear !important;
}
.customBG {
  background-color: rgba(245, 245, 245, 0.389);
  backdrop-filter: blur(5px);
}
p {
  font-family: "Archivo", sans-serif;
  color: #171717;
}
.headline{
  font-family: "Archivo Black", sans-serif;
}
.cursive{
  font-family: 'Libre Baskerville', serif;
}

/* navbar */
nav {

  z-index: 5;
  backdrop-filter: blur(30px);
  border-bottom: 1px solid #43434353;
}

.link{
  text-decoration: none;
  font-family: "Roboto Mono", monospace;
  font-size: 1.2rem;
  color: rgb(153, 0, 255);
  display: block;
  padding: 10px;
}
.logo {
  font-size: 1.5rem;
  width: 50px;
}
.link:hover{
  color: rgb(153, 0, 255);
  filter: brightness(150px);
  background-color:#dee2e600;
}

#bootstrap-overrides .link:hover {
  filter: brightness(120%);
  text-decoration: underline 1px rgb(136, 0, 255);
  background-color: #dee2e667;
}
.navbar-toggler-icon {
  filter: invert(0);
}

/* footer */

footer{
  height: 300px;
  margin-top: auto; 
}
h8 {
  font-size: 2.5rem;
}
.contact{
  width: fit-content;
}
/* darkmode */
body.lightToDark {
  background-color: #1e1222;
}
/* body.lightToDark .link{
  color: #dee2e6;
} */
body.lightToDark #bootstrap-overrides.navbar-toggler-icon{
filter: invert(1);}

body.lightToDark .customBG {
  background-color: #43434353;
}
/* animations */

/* Skew */
.hvr-skew {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-skew:hover, .hvr-skew:focus, .hvr-skew:active {
  -webkit-transform: skew(-10deg);
  transform: skew(-10deg);
}
/* float */
.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* Grow Shadow */
.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}