/*  beeg screen */

@media screen and (max-width: 2000px) {
  #upBtn {
    opacity: 100%;
    z-index: 2;
  }
  .header {
    height: 100svh;
  }
  .about-me {
    height: 300px;
  }
  .Infobox {
    height: 400px;
    grid-template-columns: (auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit);
    column-gap: 5vw;
    grid-template-areas: "selfie text";
  }
  .info1 {
    grid-area: selfie;
    height: 100%;
    width: 100%;
  }
  .info2 {
    grid-area: text;
    height: 100%;
    width: 100%;
  }
  .container-lg {
    position: relative;
  }
  #bootstrap-overrides h4 {
    margin-top: 0;
  }
}
/* medium */
@media screen and (max-width: 1000px) {
  .content-to-hide {
    display: none;
  }
  .Infobox {
    height: fit-content;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fit(fit-content));
    grid-template-areas:
      "selfie"
      "text";
  }
  .info1 {
    grid-area: selfie;
    height: 100%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .info2 {
    grid-area: text;
    height: 100%;
    width: 100%;
  }
  #bootstrap-overrides h4 {
    margin-top: none;
  }
  .textDeco,
  .textDecoLeft {
    margin-top: none;
  }
  #bg {
    height: 100%;
    width: max-content;
  }
}

/*  small screen */

@media screen and (max-width: 700px) {
  #bootstrap-overrides .container-lg {
    width: 100%;
  }
  #bootstrap-overrides .container {
    width: 100%;
  }
  .about-me {
    height: 400px;
  }
  .card {
    width: fit-content;
  }
  .Infobox {
    height: fit-content;
    grid-template-columns: 100%;
    grid-template-rows: repeat(auto-fit(fit-content));
    grid-template-areas:
      "selfie"
      "text";
  }
  .info1 {
    grid-area: selfie;
    height: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .info2 {
    grid-area: text;
    height: 100%;
    width: 100%;
  }
  .header {
    border: none;
    height: 100vh;
  }
  .line-1 {
    position: relative;
    border-right: none;
    width: fit-content;
  }
  .list {
    margin-top: 3vh;
    margin-bottom: 3vh;
  }
  #customBG section {
    border-left: none;
    border-right: none;
    background-color: rgba(245, 245, 245, 0.389);
    backdrop-filter: blur(5px);
  }
  #velocity {
    padding: 0;
  }
  #bootstrap-overrides h4 {
    margin-top: 50px;
  }
  .textDeco,
  .textDecoLeft {
    margin-top: 50px;
  }
  #bootstrap-overrides.rounded {
    border-radius: 0;
  }
}
/* General STYLE! */
.customBorder {
  border: #17171753 1px solid;
}
.container-lg {
  flex-wrap: wrap;
  justify-content: space-between;
  height: fit-content;
}
.header {
  position: relative;
}
.Infobox {
  display: grid;
}
.selfie {
  width: 90%;
  height: 90%;
  box-shadow: 10px 10px 0px rgb(207, 118, 255);
}
.selfie:hover {
  box-shadow: 10px 10px 10px rgb(233, 192, 255);
}
.about-me {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: repeat(auto-fit);
  justify-content: center;
}

li {
  font-family: "Archivo";
  font-size: 1.5rem;
  list-style: none;
}

.arrow {
  filter: invert(0);
}
.projects {
  height: fit-content;
}
.case {
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  justify-content: center;
  border-bottom: 1px #17171753 solid;
  border-top: 1px #17171753 solid;
}

.list {
  display: inline;
}
.tag {
  width: fit-content;
  margin-top: 5px;
  font-size: 1.25rem;
  display: inline-block;
}
.tag:hover {
  filter: brightness(150%);
  color: rgb(136, 0, 255);
  box-shadow: rgba(0, 0, 0, 0.391) 0px 4px 12px;
}
.textDeco {
  margin-left: 10vh;
}
.textDecoLeft {
  margin-right: 10vh;
}
.textDeco,
.textDecoLeft {
  filter: invert(0);
}
.flex1 {
  height: 400px;
}
.flex2 {
  border-left: 0;
  border-right: 0;
}
.flex3 {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

#velocity {
  height: 95%;
  width: 95%;
}
#case2 {
  height: 95%;
  width: 95%;
}
.button {
  background-color: #dee2e6;
  color: #171717;
  font-family: "Archivo";
  font-size: 1rem;
  text-decoration: none;
}
.button:hover {
  color: #171717;
}
.proj {
  width: fit-content;
  height: fit-content;
}
.flex2:hover:before {
  opacity: 0;
}
section {
  height: fit-content;
  margin-bottom: 60px;
}

/* TEXT STYLES */
h2,
h3,
h4,
h5,
h6,
h7,
h8 {
  color: #171717;
  font-family: "Archivo";
}
#bootstrap-overrides h1 {
  font-size: 6rem;
  font-weight: bolder;
  margin-bottom: 20px;
}
.wrappertitle {
  max-width: fit-content !important;
  color: #171717;
  display: block;
  height: fit-content;
  top: 20vh;
  z-index: 2;
}

#bootstrap-overrides h2 {
  font-size: 2rem;
  top: 0;
}
#bootstrap-overrides h3,
#bootstrap-overrides h4,
#bootstrap-overrides h5 {
  font-size: 2rem;
}

#bootstrap-overrides h6 {
  font-size: 2rem;
  margin-bottom: 0;
}
h7,
h8 {
  font-size: 2.5rem;
}
/* header wave animation */

.wave {
  animation-name: wave-animation; /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s; /* Change to speed up or slow down */
  transform-origin: 70% 70%; /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  } /* The following five values can be played with to make the waving more or less extreme */
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } /* Reset for the last half to pause */
  100% {
    transform: rotate(0deg);
  }
}

.aiText {
  bottom: 0vh;
  right: 1vw;
}

/* Darkmode */

body.lightToDark h1,
body.lightToDark h2,
body.lightToDark h3,
body.lightToDark h4,
body.lightToDark h5,
body.lightToDark h6,
body.lightToDark h7,
body.lightToDark h8,
body.lightToDark p {
  color: #dee2e6;
}
body.lightToDark .case {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}
body.lightToDark .arrow {
  filter: invert(1);
}
body.lightToDark .customBorder {
  border: #dee2e6 1px solid;
}
body.lightToDark .tag {
  color: #dee2e6;
}
body.lightToDark .tag:hover {
  color: rgb(136, 0, 255);
  box-shadow: rgba(255, 255, 255, 0.391) 0px 4px 12px;
}
body.lightToDark .textDeco,
body.lightToDark .textDecoLeft {
  filter: invert(1);
}
body.lightToDark .button {
  background-color: #171717;
  color: #dee2e6;
}
#bootstrap-overrides body.lightToDark .button:hover {
  color: #dee2e6;
}
